<section id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 head-slogan">
        <h4>Hey there ;)</h4>
        <h4>I’m Jack Huang.</h4>
        <h4>A UI/UX designer</h4>
        <h4>based in L.A.</h4>
        <!--<div class="slogan">-->
        <!---->
        <!--<br>-->
        <!---->
        <!--<br>-->
        <!---->
        <!--<br>-->
        <!---->
        <!--</div>-->
      </div>
      <div class="col-md-6 head-img text-center">
        <img class="img-fluid" src="/assets/h@2x.png">
      </div>


    </div>
  </div>
</section>
