<section id="about">
  <div class="container" style="padding-top: 130px; padding-bottom: 130px">
    <div class="row">

      <div class="col">

        <div class="-align-right"><img src="/assets/skills_left@3x.png" class="img-about "></div>

        <div class="title-01" style="padding-top: 20px">About</div>

        <div class=" text-01" style="padding-top: 30px">
          My name is Jack Huang, and I am a senior UI/UX/Product designer with over 7 years experience. I think design
          is commonly misunderstood
          as being purely visual. I believe that design is not only how something looks, but how something works. So
          in the
          case of UI/UX design, I mean that I design how people interact with technology, and how technology responds.
          I make technology not suck to use.
        </div>
        <div align="left" style="padding-top: 40px">
          <a href="/assets/Jack_resume.pdf" download="Jack_resume">
            <button class="download-butt">
              Download Resume
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--  <context>-->
</section>
