<div class="container">
  <div class="row">

    <!--   <img-1>-->
    <div class="col-6">
      <img src="/assets/website-1@3x.jpg" style="padding-top:40px; width:500px; height: auto">
    </div>
    <div class="col-6" style="padding-top: 100px">
      <h2 style="font-size:30px;font-weight:800;color:black">Golebar</h2>
      <p class="text-01" style="padding-top: 20px">The purpose of your brochure may differ from business to business.
        Some are designed to display
        services, whereas others are focused on selling an idea. No matter what the focus of the brochure is, it needs
        to
        be readable, intriguing, and functional. </p>
      <a href="web-destail-1"> Learn more> </a>
    </div>

    <!--   <img-2>-->
    <div class="col-6">
      <img src="/assets/website-2@3x.jpg" style="padding-top:40px; width:500px; height: auto">
    </div>
    <div class="col-6" style="padding-top: 100px">
      <h2 style="font-size:30px;font-weight:800;color:black">ootm.com</h2>
      <p class="text-01" style="padding-top: 20px">The purpose of your brochure may differ from business to business.
        Some are designed to display
        services, whereas others are focused on selling an idea. No matter what the focus of the brochure is, it needs
        to
        be readable, intriguing, and functional. </p>
      <a href="web-destail-2"> Learn more> </a>
    </div>

    <!--   <img-3>-->
    <div class="col-6">
      <img src="/assets/website-3@3x.jpg" style="padding-top:40px; width:500px; height: auto">
    </div>
    <div class="col-6" style="padding-top: 100px">
      <h2 style="font-size:30px;font-weight:800;color:black">CAKNOW</h2>
      <p class="text-01" style="padding-top: 20px">The purpose of your brochure may differ from business to business.
        Some are designed to display
        services, whereas others are focused on selling an idea. No matter what the focus of the brochure is, it needs
        to
        be readable, intriguing, and functional. </p>
      <a href="web-destail-3"> Learn more> </a>
    </div>

  </div>
</div>


