#contact {
  background-color: #283242;
  /*background-color: #4454FF;*/
  background-size: cover;
  height: 64%;
  display: block;
  align-items: center;
}

.title-02 {
  font-size: 60px;
  font-weight: 700;
  color: white;
}

.text-03 {
  font-size: 16px;
  font-weight: 200;
  color: gainsboro;
}

.icons {
  width: 7%;
  height: auto;
}

.contact-img-holder {
  float: none;
  width: 120%;
  height: auto;
  margin-top: 82px;
  margin-left: 56px;

}
