<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="title-02" style="padding-top: 70px">Contact</div>

        <div class="text-03" style="margin-top: 24px;">
          <p>Email: <a href="mailto:laotuhao@gmail.com">
            <u class="text-03" style="cursor: pointer">
              laotuhao@gmail.com
            </u></a></p>
          <p><a style="color: gainsboro" href="tel://(310)504-7390">Mobile: +1(310)504-7390</a></p>

          <p><a data-toggle="modal" data-target="#wechat-modal"
                style="cursor: pointer">Wechat: tz103004176</a></p>
        </div>
        <div class="container">
          <div class="row">
            <div style="padding-top: 100px">
              <a href="https://www.linkedin.com/in/jack-huang-136a6097/" target="view_window">
                <img class="icons" src="/assets/linkedin@3x.png"></a>
              <a href="https://www.behance.net/jackhuang" target="view_window">
                <img class="icons" src="/assets/behance@3x.png" style="margin-left: 16px"></a>
              <a href="https://dribbble.com/Bestcat" target="view_window">
                <img class="icons" src="/assets/dribbble@3x.png" style="margin-left: 16px"></a>
              <a href="https://www.facebook.com/profile.php?id=100009443163683" target="view_window">
                <img class="icons" src="/assets/facebook@3x.png" style="margin-left: 16px"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 ">
        <img class="contact-img-holder" src="/assets/contact-img@2x.png">
      </div>
    </div>
  </div>
</section>
