<section id="works">

  <div class="container" style="padding-top: 88px">
    <div class="row">
      <div class="col">
        <div class="title-01">Works</div>

      </div>
      <div class="row" style="padding-top: 30px">
        <app-tab></app-tab>
      </div>
    </div>

    <div class="row">
      <app-website class="text-01"></app-website>
    </div>

    <div class="row">
      <app-art class="text-01"></app-art>
    </div>

    <div class="row">
      <app-applications class="text-01"></app-applications>
    </div>

    <div class="row">
      <app-graphic class="text-01"></app-graphic>
    </div>
  </div>


</section>

