.title-01 {
  font-size: 60px;
  font-weight: 700;
  color: #4454FF;
}

.text-01 {
  font-size: 16px;
  font-weight: 300;
  color: #2E2E2E;
}

.works-img-holder {
  max-width: 560px;
  max-hight: auto;
  position: absolute;
}

.sub-title {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

